@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

html {
    font-size: 30%;

}

body {
    height: 100vh;
    display: grid;
    place-items: center;
    background-image: url("https://images.pexels.com/photos/10458835/pexels-photo-10458835.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: #fff;

}

.login-portal {
    width: 25vw;
    height: 500px;
    background-color: #fff;
    border-radius: 10px;
}

.heading {
    background-image: linear-gradient(to bottom, #6420aa, #931eac, #bc21ab, #df2ca9, #ff3ea5);
    padding-top: 30px;
    padding-bottom: 30px;
}

h1 {
    font-size: 25px;
    font-weight: 100;
    text-align: center;
    padding: 20px;
    text-transform: uppercase;
}

p {
    font-size: 12px;
    font-weight: 300;
    text-align: center;
    padding: 10px 20px;
}

h2 {
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    padding: 20px;
    text-transform: uppercase;
    color: #3D3B40;
}

.content {
    padding-top: 30px;
    display: grid;
    place-items: center;
    color: black;

}

fieldset {
    padding-bottom: 10px;
    border: 0 none;

}

#username {
    border: 1px solid black;
    border-radius: 20px;
    text-align: left;
    padding: 5px;
}

#password {
    border: 1px solid black;
    border-radius: 20px;
    text-align: left;
    padding: 5px;
}

ul {
    list-style: none;
}

.check {
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
    gap: 20px;
    padding-bottom: 20px;
}

.checkbox {
    display: block;
}

input[type=checkbox] {
    vertical-align: middle;
    position: relative;
}

.checkbox input {
    margin-right: 5px;
}

a {
    color: black;
    text-decoration: none;
}

button {
    width: 100%;
    border-radius: 20px;
    font-weight: 500;
    text-transform: uppercase;
    cursor: pointer;
    border: 1px solid;
    background-image: linear-gradient(to bottom, #6420aa, #931eac, #bc21ab, #df2ca9, #ff3ea5);
}